@charset "UTF-8";

div.container{
    display: flex;
    background-color: lightsalmon;
    flex-flow: row wrap;
}
div.item{
    background-color: lightblue;
    border: 1px solid black;
    text-align: center;
    padding: 20px;
    order: ;
}