@charset "UTF-8";

div.container{
    display: flex;
    background-color: lightsalmon;
    flex-flow: row nowrap;
}
div.item{

    background-color: lightblue;
    border: 1px solid black;
    text-align: center;

}
div#cxA{
    flex: 0 1 200px;
}
div#cxB{
    flex: 2 1 200px;
}
div#cxC{
    flex: 4 1 200px;
}