@charset "UTF-8";

div.container{
    display: flex;
    background-color: lightsalmon;
    flex-flow: row nowrap;
}
div.item{

    background-color: lightblue;
    border: 1px solid black;
    text-align: center;
    flex-basis: 200px;
}
div#cxA{
    flex-shrink: ;
    flex-grow: 0;
}
div#cxB{
    flex-shrink: ;
    flex-grow: 2;
}
div#cxC{
    flex-shrink: ;
    flex-grow: 4;
}